@charset "UTF-8";

@import url('');


*{
    margin: 0px;
    padding: 0px;
}

:root { /* Definir Paleta de cores*/
    --cor01:#FFB7D9 ;
    --cor02:#ECE4B7 ;
    --cor03:#FFFFFf ;
    --cor04:#F2F2F2;
    --cor05:#F7CAC9 ;
    --cor06:#C7E0AA;
    --cor07:#3a4231;

    --font-padrão: ;
    --font-destaque: ;
    --font-especial: ;
}

header{
    background-color: var(--cor06);
    padding: 20px;
}
h1{
    color: var(--cor07);
}

