@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root { /* Definir Paleta de cores*/  /**/
    --cor01: #C65D40;
    --cor02: #F8BBD0;
    --cor03: #f183aa;
    --cor04: #FFD700;
    --cor05: #d6f121;
    --cor06: #B6D7A8;
    --cor07: #4f6e4c;
    --cor08: #243323;
    --cor09: #0c110c;
    --cor10: #F2F2F2;

    

    --font-padrão: 
    --font-destaque: 
    --font-especial: 
}
body {
    font-family: ;
    background-color: ; /*Fundo principal*/
    color: ;
    border-radius: 15px;

}

header{
    background-color: ;
    display: flex; /*Ativar Flexbox*/
    align-items: center; /*Alinhar verticalmente*/
    padding: 15px ;
}
header > h1 {
    color: ;
    font-size: 2.2em;
    text-shadow:;
    flex: 2;/*h1 preenche espaço restante*/
}

header > img {
    width: 20%; /*Manter largura do logo*/
    margin-right: 20px;/*Espaçamento entre a h1( opcional)*/
    flex-shrink: 0px;/*Impedir que a logo seja comprimida*/
    flex-basis: 20%;/*Manter largura minima da logo*/
}

nav{
    background-image: url();
    background-repeat: repeat-x;
    height: 40px;
    padding: 15px;
    box-shadow: ;
    margin: auto;
    
    display: flex;
    gap: 25px;
    justify-content: center;/*Centralizar na horizontal*/
    }
nav > a{
    color: ;
    text-decoration: none;
    padding: 15px ;
    border-radius: 10px;
    background-color: ;
    align-items: center;
    border: 2px solid ;
    transition: color 0.3s ease ;
   
}
nav > a:hover /*Estilo ao passar o mouse*/{
    background-color: ;/*Cor do fundo*/
    color: ;/*Cor de texto*/
    transform: scale(1.1);/*Aumenta o tamanho em 10%*/
    border-color: ;
}


main {
    background-color: ;
}

footer{
    background-color: ;
    color: ;
    text-align: center;
}

