@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root { /* Definir Paleta de cores*/  /**/
    --cor01:#FFB7D9 ;
    --cor02:#ECE4B7 ;
    --cor03:#FFFFFf ;
    --cor04:#F2F2F2;
    --cor05:#f7cac9;
    --cor06:#b1ca94;
    --cor07:#0d0e0d;
    --cor08:#82946d;
    --cor09:#303330;

    

    --font-padrão: 
    --font-destaque: 
    --font-especial: 
}
body {
    font-family: var(--font-destaque);
    background-color: var(--cor06); /*Fundo principal*/
    color: var(--cor07);

}

header{
    background-color: var(--cor01);
    display: flex; /*Ativar Flexbox*/
    align-items: center; /*Alinhar verticalmente*/
    padding: 15px ;
}
header > h1 {
    color: var(--cor03);
    font-size: 2.2em;
    text-shadow: 0px 1px 3px var(--cor09);
    flex: 2;/*h1 preenche espaço restante*/
}

header > img {
    width: 20%; /*Manter largura do logo*/
    margin-right: 20px;/*Espaçamento entre a h1( opcional)*/
    flex-shrink: 0px;/*Impedir que a logo seja comprimida*/
    flex-basis: 20%;/*Manter largura minima da logo*/
}

nav{
    background-image: url(img/Canva-flores-150.png);
    background-repeat: repeat-x;
    height: 40px;
    padding: 15px;
    box-shadow: 0px 8px 5px var(--cor07);
    margin: auto;
    display: flex;
    gap: 25px;
    justify-content: center;/*Centralizar na horizontal*/
    }
nav > a{
    color: var(--cor03);
    text-decoration: none;
    padding: 15px ;
    border-radius: 10px;
    background-color: var(--cor06);
    align-items: center;
    border: 2px solid var(--cor06);
    transition: color 0.3s ease ;
   
}
nav > a:hover /*Estilo ao passar o mouse*/{
    background-color: var(--cor09);/*Cor do fundo*/
    color: var(--cor02);/*Cor de texto*/
    transform: scale(1.1);/*Aumenta o tamanho em 10%*/
    border-color: var(--cor06);
}


main {
    background-color: var(--cor01);
}

footer{
    background-color: var(--cor07);
    color: var(--cor03);
    text-align: center;
}

